@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-poppins);
  --font-poppins: var(--font-poppins);
  --font-mono: var(--font-mono);
}

:root {
  background: white;
  color: black;
}

/* @layer base {
  html, body {
    cursor: none !important;
  }

  @media (max-width: 1024px) {
    html, body {
      cursor: auto !important;
    }
    .fixed { display: block; } 
  }
  
  a, button, [role="button"] {
    cursor: none !important;
  }
} */

/* @layer base { */
  /* শুধুমাত্র পিসি বা ল্যাপটপের জন্য কার্সর হাইড হবে */
  /* @media (pointer: fine) { */
    /* html, body, a, button, .cursor-pointer { */
      /* cursor: none !important; */
    /* } */
  /* } */

  /* মোবাইলে স্ক্রলিং ঠিক রাখার জন্য */
  /* html, body { */
    /* -webkit-tap-highlight-color: transparent; */
    /* overflow-x: hidden; */
    /* max-width: 100vw; */
    /* touch-action: none; এই লাইনটি ভুলে দেওয়া যাবে না */
  /* } */
/* } */
/* client-nda */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}
